<!DOCTYPE html>
<html>
<head>
    <title>Proxy API Checker</title>
    <link rel="stylesheet" type="text/css" media="screen" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main class="container">
        <header class="col-sm-12">
            <h1>
                <strong><a target="_blank" href="index.php"><span style="color: black;">Proxy API Checker</span></a></strong>
            </h1>
            <hr>
        </header>
        <section class="col-sm-9">
			{% if username is defined %}
            <form action="index.php" method="get">
                <div class="form-group">
                    <label for="ip_input">IP address</label>
                    <input type="text" class="form-control" id="ip_input" name="ip" placeholder="127.0.0.1" value="{{ ip }}" required>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="portscan" value="1" {% if portscan %}checked{% endif %}> Include port scanning (slow)
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
			{% endif %}
			{% if stats is defined %}
				<h3>Top 25 users this month</h3>
				<ol>
				{% for item in thismonth %}
					<li>{{ item.user }} - {{ item.count }}</li>
				{% endfor %}
				</ol>
			<h3>Top 25 users all time</h3>
				<ol>
				{% for item in alltime %}
					<li>{{ item.user }} - {{ item.count }}</li>
				{% endfor %}
				</ol>
			{% endif %}
			{% if splash is defined %}
			<h2>Log in</h2>
			<form action='oauth.php?action=authorize'>
				Select your wiki: <select name='dbname'>
					{% for item in options %}
						<option value="{{ item.dbname }}" {% if item.dbname == "enwiki" %} selected="selected" {% endif %} > {{ item.url }}</option>
					{% endfor %}
				</select>
				<input type="submit">
			</form>
			{% endif %}
            {% block results %}
            {% endblock %}
        </section>
        <aside class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">API sources</h3>
                </div>
                <div class="list-group">
                    <a target="_blank" class="list-group-item" href="https://www.ipqualityscore.com">IPQualityScore</a>
                    <a target="_blank" class="list-group-item" href="https://proxycheck.io">proxycheck.io</a>
                    <a target="_blank" class="list-group-item" href="https://iphub.info">IPHub</a>
                    <a target="_blank" class="list-group-item" href="https://getipintel.net">GetIPIntel</a>
                    <a target="_blank" class="list-group-item" href="https://www.iphunter.info">IPHunter</a>
                    <a target="_blank" class="list-group-item" href="https://nofraud.co">NoFraud</a>
                    <a target="_blank" class="list-group-item" href="https://ip.teoh.io">Teoh.io</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">DNSBL sources</h3>
                </div>
                <div class="list-group">
                    <a target="_blank" class="list-group-item" href="http://www.sorbs.net/general/using.shtml">Sorbs</a>
                    <a target="_blank" class="list-group-item" href="https://www.spamhaus.org/zen">Spamhaus ZEN</a>
					<a target="_blank" class="list-group-item" href="https://dshield.org/">Dshield / Internet Storm Center</a>
                </div>
            </div>
        </aside>
        <footer class="col-sm-12 text-center" style="padding-bottom: 15px">
            <hr>
			<small class="text-muted">
                NOTE: No port scanning is done from Toolforge.
            </small>
			{% if username is defined %}
			<div style="margin-top: 10px">
                Logged in as: {{ username }} - <a href="index.php?logout=true">Logout</a><br />
				<details>
				<summary>API Key</summary>
				<p>{{apikey}}</p>
				</details>
			</div>
			{% endif %}
            <div style="margin-top: 10px">
                Brought to you by
                [[<a target="_blank" href="https://en.wikipedia.org/wiki/User:SQL">User:SQL</a>]]
                and
                [[<a target="_blank" href="https://en.wikipedia.org/wiki/User:MusikAnimal">User:MusikAnimal</a>]]
            </div>
            <div>
                <a target="_blank" href="https://github.com/SQL-enwiki/ipcheck">View source</a>
                &middot;
				<a target="_blank" href="https://tools.wmflabs.org/ipcheck/stats.php">Stats</a>
                &middot;
				Current version: <a target="_blank" href="https://github.com/SQL-enwiki/ipcheck/commit/{{ currentver }}">{{ currentver }}</a>
				&middot;
                <a target="_blank" href="https://tools.wmflabs.org/aivanalysis/queries/">More tools from SQL</a>
            </div>
        </footer>
    </main>
</body>
</html>
